input {
    height: 25px;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: var(--text-col);
    background-color: var(--button-col);
}

.btn-container {
    display: inline-block;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    background-color: var(--background-col);
    user-select: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 20px;
    padding: 20px;
    background-color: var(--button-col);
    color: var(--text-col);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back {
    width: 80px;
    height: 3px;
    padding: 20px;
    margin: 10px;
}

.btn:active {
    background-color: var(--button-active-col);
    transform: scale(0.95);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
