.title-container {
    width: 540px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    place-items: center;

}

.back {
    color: var(--text-col);
    font-size: 50px;
    grid-column-start: 1;
}

.back:active {
    transform: scale(0.80);
}

.page-title {
    grid-column-start: 2;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 10px;
    padding: 20px;
    background-color: var(--button-col);
    color: var(--text-col);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:active {
    background-color: var(--button-active-col);
    transform: scale(0.95);
}

.delete {
    margin-top: 40px;
    background-color: var(--delete-col);
}

.delete:active {
    margin-top: 40px;
    background-color: var(--delete-active-col);
}