.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input {
    height: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: var(--text-col);
    background-color: var(--button-col);
}

.new-task {
    width: 390px;
    text-align: left;
    transition: width 0.5s;
}

.room-code {
    width: 90px;
    text-align: center;
    transition: width 0.5s;
}

.room-code:focus {
    width: 390px;
    text-align: left;
    transition: width 0.5s;
}

.new-task:has(~ .room-code:focus) {
    width: 90px;
    transition: width 0.5s;
}

.settings-container {
    display: grid;
    place-items: left;
    align-items: center;
    grid-template-columns: 10% 90%;
    padding: 20px 20px 20px 0px;
    color: var(--text-col);
    width: 520px;
    font-size: 20px;
}

.gear {
    grid-column-start: 1;
    font-size: 50px;
}

.name {
    grid-column-start: 2;
}

.gear:active {
    transform: scale(0.95);
}